RewriteEngine On

#accept loading of actual files and directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#send everything else to index page 
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]

php_value memory_limit 256M
php_value upload_max_filesize 12M
php_value post_max_size 13M
