@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
:root {
    --bg-color: #000;
    --txt-color: #FFFFE8;
    --default-font: ;
    --box-shadow-color: 0 5px 9px rgba(0, 0, 0, 0.80);
    --btn-bg-color: #0A6EBD;
    --border-radius: 4px;
    --border-color: #0A6EBD;
    --input-width: ;
}
*{
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    background-color: #DCD7C9;
}

.card {
    box-shadow: var(--box-shadow-color);
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
    margin: 3rem auto;
    text-align: center;
    color: var(--txt-color);
    font-weight: 500;
    padding: 1rem;
    max-width: 30rem;
    text-decoration: none;
    height: 355px;
    margin-top: 70px;
    -webkit-backdrop-filter: blur(8px);
    /* filter: blur(10px); */
}
.card .title{
    float: left;
    color: var(--txt-color);
    font-weight: 500;
    font-size: 20px;
    margin: 5px auto;

}
.input-group input {
    font: inherit;
    cursor: pointer;
    border-color: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-color);
    border-color: var(--border-color);
    background-color: var(--bg-color);
    color: var(--txt-color);
    font-weight: 300;
    margin: 5px auto;
    padding: 10px;
    max-width: 50rem;
    width: 100%;
}
.input-btn input[type="submit"] {
    font: inherit;
    cursor: pointer;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    box-shadow: var(--border-color);
    border-color: var(--border-color);
    background-color: var(--btn-bg-color);
    color: var(--txt-color);
    font-weight: 300;
    margin: 5px auto;
    padding: 10px;
    max-width: 50rem;
    width: 100%;
    text-transform: uppercase;
}
.input-btn input:hover{
    background-color: var(--bg-color);
    font: inherit;
    cursor: pointer;
}
.show-pass-btn {
    float: left;
    padding: 5px;
}
.signup-here a {
    margin-top: 30px;
    text-decoration: none;
    color: #0A6EBD;
}
.signup-here p {
    text-align: center;
    margin: 3rem auto;
    text-align: left;
}
.forgot-pass {
    float: right;
    text-decoration: none;
    padding: 5px;
}